/.idea
/.tmp
/.nyc_output
/.github
/coverage
/node_modules
/npm-debug.log
/test
/.huskyrc
/.husky
/.lintstagedrc
/.babelrc
/.editorconfig
/.eslintignore
/.gitattributes
/.gitignore
/.mocharc.js
/.npmignore
/.npmrc
/.nycrc
/.releaserc
/tmp-test-bundle.js.LICENSE.txt
/.codeclimate.yml
/.commitlintrc.json
/.prettierignore
/.prettierrc
/tmp-test-bundle.js
/testem.json
/webpack.config.js
/webpack.config-test.web.js
/webpack.config-test.node.js
/test-results.xml
/types/tslint.json
/types/tsconfig.json
/types/test
/CODE_OF_CONDUCT.md
/CONTRIBUTING.md
/GOVERNANCE.md
/SECURITY.md
/json-api-merge-*.*.*.tgz

.eslintrc

