/.idea
/.tmp
/.github
/.claude
/coverage
/node_modules
/npm-debug.log
/test
/.huskyrc
/.husky
/.lintstagedrc
/.editorconfig
/.eslintignore
/.gitattributes
/.gitignore
/.mocharc.json
/.npmignore
/.npmrc
/.releaserc
/tmp-test-bundle.js.LICENSE.txt
/.codeclimate.yml
/.commitlintrc.json
/.prettierignore
/.prettierrc
/src
/tmp-test-bundle.js
/testem.json
/webpack.config.cjs
/webpack.config-test.web.cjs
/test-results.xml
/types/tslint.json
/types/tsconfig.json
/types/test
/CODE_OF_CONDUCT.md
/CONTRIBUTING.md
/GOVERNANCE.md
/babel.config.cjs
/.nvmrc
/.browserlistrc

/swaggerexpert-json-api-merge-*.*.*.tgz

.eslintrc

